.table {
    margin-top: 20px;
  }
  
  .form-control {
    max-width: 150px;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  