/* Sidebar link hover effect */
.operation-item {
    background-color: #f8f9fa; /* Default background color */
    border-color: dodgerblue;
    transition: background-color 0.3s ease, color 0.3s ease;
  
    &:hover {
      background-color: dodgerblue;
      color: white;
    }
  }
  
  /* Active link styling */
  .active-item {
    background-color: dodgerblue !important;
    color: white !important;
    font-weight: bold;
  }
  
  /* For better spacing and padding */
  .nav-item {
    margin-bottom: 15px;
  }
  